  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header/navbar v v v */

    header {
        background-color: #ffffff;
        height: 4em;
        border-bottom: .10em solid #dddddd;
    }

    nav {
        width: 60em;
        height: 4em;
        margin-left: auto;
        margin-right: auto;
    }

    nav span a {
        text-decoration: none;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777777;
        padding: 1.5em 0em 1.5em 2em;
        float: left;
    }

    nav span a:hover {
        color: #429793;
    }


    header::after {
        content: '';
        display:table;
        clear: both;
    }

    #logo {
        background-color: #4aaaa5;
        font-size: 1.5em;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        width: 20%;
        float: left;
        padding: .73em 0em;
        text-align: center;
        margin-right: 53.5%;
        border-bottom: .10em solid #dddddd;
        color: #ffffff;
    }


/* header/navbar ^ ^ ^ */


/* about me page v v v */

    img.profile {
        border-radius: 100%;
        float: left;  
        margin: 0 1em 1em auto; 
    }

    div.aboutme {
        width: 60em;
        margin-right: auto;
        margin-left: auto;
        background: #ffffff;
        padding: 1.25em;
        margin-top: 1.5em;
        border: .10em solid #dddddd;

    } 

    div.aboutme::after {
        content: '';
        display:table;
        clear: both;
    }

/* about me page ^ ^ ^ */

/* master style v v v */

    html body {
        height: 100%;
    }

    h1 {
        color: #4aaaa5;
        font-size: 2em;
        font-family: font-family: 'Georgia', Times, 'Times New Roman', serif;
    }


    hr {
        border-width: .1em;
        border-color: #dddddd;
        margin: 1.5em auto 1.5em auto;
    }

    p {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 200%;  
        text-align: justify;
        text-justify: inter-word;
        color: #777777;
    }

/* master style ^ ^ ^ */


/* contact form v v v */

    input[type=text], select, textarea {
        width: 100%;
        padding: .75em; 
        border: .0625em solid #dddddd; 
        border-radius: .25em; 
        box-sizing: border-box; 
        margin-top: .375em; 
        margin-bottom: 1em; 
        resize: vertical;
    }
    
    
    input[type=submit] {
        background-color: #4aaaa5;
        color: #ffffff;
        padding: .75em 1.25em;
        border: none;
        border-radius: .25em;
        cursor: pointer;
    }
    
    
    input[type=submit]:hover {
        background-color:#429793;
    }
    
    
    div.cform {
        background-color: #ffffff;
        padding: 1.25em;
        width: 60em;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5em;
        border: .10em solid #dddddd;
        margin-bottom: 2em;
    }

    form label {
        color: #777777;
    }

/* contact form ^ ^ ^ */
 
/* portfolio page v v v */

    div.content {
        width: 60em;
        margin-right: auto;
        margin-left: auto;
        background: #ffffff;
        padding: 1.25em;
        margin-top: 1.5em;
        border: .10em solid #dddddd;
        margin-bottom: 2em;
    }


    div.column {
        float: left;
        margin-right: 1em;
        width: 30%;
        position: relative;
    }


    img.portimg {
        height: 14.0625em;
        width: 17.1875em;  
    }

    div.content::after {
        content: '';
        display:table;
        clear: both;
    }

    div.bottomcentered a{
        background-color: #4aaaa5;
        position: absolute;
        bottom: .25em;
        width: 100%;
        margin: .625em 0em;
        padding: .3125px 0em;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    div.bottomcentered a:hover {
        background-color: #429793;
    }

    

/* portfolio page ^ ^ ^ */


div.invisible {
    visibility: hidden;
    height: 6.25em;
}


/* footer v v v */

div.wrapper {
   position: relative;
   min-height: 100vh;
}

footer {
    background-color: #666666;
    height: 4em;
    border-top: .5em solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:#ffffff;
}



/* footer ^ ^ ^ */