* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header/navbar v v v */

    .topnav {
        background-color: #ffffff;
        border: 6px;
        text-align: center;
        height: 4em;
        display: flex;
        border-bottom: .10em solid #dddddd;
    }

    nav {
        width: 60em;
        height: 4em;
        margin-left: auto;
        margin-right: auto;
    }

    nav span a {
        text-decoration: none;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777777;
        padding: 1.5em 1em;
        float: left;
        /* float: right; */
    }


    .topnav::after {
        content: '';
        display:table;
        clear: both;
    }

    #logo {
        background-color: #4aaaa5;
        font-size: 1.5em;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        width: 20%;
        float: left;
        padding: .73em 0em;
        text-align: center;
        margin-right: 53.5%;
        border-bottom: .10em solid #dddddd;
        color: #ffffff;
    }


/* header/navbar ^ ^ ^ */


/* about me page v v v */

    .profile {
        border-radius: 100%;
        float: left;  
        margin: 0 1em 1em auto; 
    }

    .aboutme {
        width: 60em;
        margin-right: auto;
        margin-left: auto;
        background: #ffffff;
        padding: 1.25em;
        margin-top: 1.5em;

    } 

    .biocontent {
    
    }

    .aboutme {
        width: 60em;
        margin-right: auto;
        margin-left: auto;
        background: #ffffff;
        padding: 1.25em;
        margin-top: 1.5em;
        border: .10em solid #dddddd;

    } 

    .aboutme::after {
        content: '';
        display:table;
        clear: both;
    }

/* about me page ^ ^ ^ */

/* master style v v v */

    body {
        
    }

    h1 {
        color: #4aaaa5;
        font-size: 2em;
        font-family: font-family: 'Georgia', Times, 'Times New Roman', serif;
    }

    .content {
        width: 60em;
        margin-right: auto;
        margin-left: auto;
        background: #ffffff;
        padding: 1.25em;
        margin-top: 1.5em;
        border: .10em solid #dddddd;
    }

    hr {
        border-width: .1em;
        border-color: #dddddd;
        margin: 1.5em auto 1.5em auto;
    }

    p {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        line-height: 200%;  
        text-align: justify;
        text-justify: inter-word;
        color: #777777;
    }

/* master style ^ ^ ^ */


/* contact form v v v */

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px; 
        border: 1px solid #dddddd; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }
    
    
    input[type=submit] {
        background-color: #2AA981;
        color: #ffffff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    
    input[type=submit]:hover {
        background-color:rgb(30, 136, 102);
    }
    
    
    .cform {
        background-color: #ffffff;
        padding: 1.25em;
        width: 60em;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.5em;
        border: .10em solid #dddddd;
    }

    form label {
        color: #777777;
    }

/* contact form ^ ^ ^ */
 
/* portfolio page v v v */

    div.row {
        
    } 

    div.column {
        float: left;
        margin-right: 1em;
        width: 30%;
        position: relative;
    }


    .portimg {
        height: 225px;
        width: 275px;  
    }

    .content::after {
        content: '';
        display:table;
        clear: both;
    }

    .bottomcentered {
        background-color: #4aaaa5;
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 10px 0px;
        padding: 5px 0px;
        text-align: center;
        color: #fff;
    }

    

/* portfolio page ^ ^ ^ */